@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';
@font-face {
  font-family: 'Technor-Bold';
  src: url('../assets/Technor_Complete/Fonts/WEB/fonts/Technor-Bold.woff2') format('woff'),
       url('../assets/Technor_Complete/Fonts/WEB/fonts/Technor-Bold.woff') format('woff'),
       url('../assets/Technor_Complete/Fonts/WEB/fonts/Technor-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}



body {
    background-color: #101010;
    overflow-x: hidden;
    background-image: url(../assets/images/imageback.png);
    background-size: contain;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    color: white;

    h2 {
        font-weight: bold;
        font-size: 64px;
        font-style: 'Lexend';
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 50px;
    }



    a {
        color: white;
        text-decoration: none;

        &:visited {
            color: white;
        }
    }
}

.page_Accueil{

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
  
  
  }

.logo {
    position: absolute;
    top: 4.5%;
    left: 2.5%;
}

.blur {
    position: absolute;
    left: 0%;
    top: 0%;
}

.buttonback {
    position: absolute;
    top: 6%;
    right: 3%;
}


.gridcontainer {
    margin-top: 190px;
    // display: grid;
    grid-template-columns: 94px repeat(3, 1fr) 94px;
    column-gap: 86px;
    row-gap: 86px;

    p {
        text-align: center;
    }


}

.close-button ,.back-button{
  position: fixed;
  top: 30px;
  right: 30px; /* Positionnez la croix à droite */
  width: 30px; /* Ajustez la taille de la croix selon vos besoins */
  cursor: pointer;
  z-index: 1000; /* Assurez-vous qu'elle est bien au-dessus de tout le reste */
}

.grid {
  display: grid; /* Configuration initiale de la grille */
}

.grid.inactive {
  display: flex; /* Masque la grille lorsqu'elle est inactive */
}



/* Styles pour la nouvelle DA */
.da-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  // background-color: #f0f0f0;
  border-radius: 10px;
}

.da-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.da-text {
  font-size: 1.2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.da-site-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.da-site-button:hover {
  background-color: #555;
}



img {
    width: 100%;

}

.grid__el0 {
    grid-column: 2;
    grid-row: 1;
    z-index: 100;

}

.grid__el1 {
    grid-column: 3;
    grid-row: 1;
}

.grid__el2 {
    grid-column: 4;
    grid-row: 1;
}

.grid__el3 {
    grid-column: 2;
    grid-row: 2;
}

.grid__el4 {
    grid-column: 3;
    grid-row: 2;
}

.grid__el5 {
    grid-column: 4;
    grid-row: 2;
}

.grid__el6 {
    grid-column: 2;
    grid-row: 3;
}

.grid__el7 {
    grid-column: 3;
    grid-row: 3;
}

.grid__el8 {
    grid-column: 4;
    grid-row: 3;
}

.grid__el9 {
    grid-column: 2;
    grid-row: 4;
}

.grid__el10 {
    grid-column: 3;
    grid-row: 4;
}

.grid__el11 {
    grid-column: 4;
    grid-row: 4;
}

.grid__el12 {
    grid-column: 2;
    grid-row: 5;
}

.grid__el13 {
    grid-column: 3;
    grid-row: 5;
}

.grid__el14 {
    grid-column: 4;
    grid-row: 5;
}

.grid__el15 {
    grid-column: 2;
    grid-row: 6;
}

.grid__el16 {
    grid-column: 3;
    grid-row: 6;
}

.grid__el17 {
    grid-column: 4;
    grid-row: 6;
}

.grid__el18 {
    grid-column: 2;
    grid-row: 7;
}

.grid__el19 {
    grid-column: 3;
    grid-row: 7;
}

.grid__el20 {
    grid-column: 4;
    grid-row: 7;
}

.p-flex {
    position: absolute;
    top: 15%;
    left: 50%;
    right: 2.5%;
    font-size: 24px;
    margin-top: 50px;
    line-height: 32px;

    p {
        margin-top: 75px;
    }
}

.svg-flex {
    position: absolute;
    top: 18%;
    left: 2.5%;
}

.pdp {
    position: absolute;
    bottom: 1%;
    right: 2.5%;
}




.svg__contenu{
  height:102vh;
  position: fixed;
  top:-0.1%;

}
.long {
  height: 65vh;
  position: fixed;
  // top: 17.5%;
  // right: 1%;
  z-index: 0;
}

.menu{
  height: 100vh;
  position: fixed;
  // right: 6%;

  
}



#clicker {
  position: absolute;
  top: 47%;
  right: 60%;
  width: 15%;
  height: 50%;
  z-index: 5;
  transform-origin: 50% 20px;
  transform: rotate(-90deg);
  pointer-events: none;
}




// // .mot{
// //   transform: rotate(90deg); 
// //   font-size: 50px; 
// //   transition: transform 0.3s ease, font-size 0.3s ease;
// // }

// // .mot:not(.mot) {
// //   transition: transform 0.3s ease, font-size 0.3s ease;
// // }

// // // li:nth-child(1) span.mot  {
// // //   transform: translateX(-10%) translateY(100%) rotate(90deg); ;
// // // }

// // // li:nth-child(5) span.mot  {
// // //   transform: translateY(-135%) rotate(90deg); ;
// // // }

// // // li:nth-child(6) span.mot  {
// // //   transform: translateY(-15%) rotate(90deg); ;
// // // }
// // // li:nth-child(4) span.mot  {
// // //   transform: translateX(-12%) rotate(90deg); ;
// // // }
// // // li:nth-child(3) span.mot  {
// // //   transform: translateX(-5%) rotate(90deg); ;
// // // }

// .mileushadowlong{

//   width: 100vw;
// }

#dial {
  touch-action: pan-left;
}


.contenu{

  display:none;
}



ul{
  padding: 0;
  top: 0;
  left: 42%;
  margin: 100px;
  list-style: none;
  width: 500px;
  height: 500px;
  border: 2px solid red;
  position: relative;
  border-radius: 50%;

}
.taille{
  width:50%;
}

li{

  position: absolute;
  top: -10px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  transform-origin: center 270px;





}

li:nth-child(1){
  
  transform: translateX(-50%) rotate(-30deg);

}

li:nth-child(2){
  
  transform: translateX(-50%) rotate(-90deg);

}

li:nth-child(3){

  transform: translateX(-50%) rotate(-150deg);

}

li:nth-child(4){

  transform: translateX(-50%) rotate(-210deg);
  

}

li:nth-child(5){

  transform: translateX(-50%) rotate(-270deg);

}

li:nth-child(6){

  transform: translateX(-50%) rotate(-330deg);

}

li:nth-child(7){

  transform: translateX(-50%) rotate(-170deg);

}

li:nth-child(8){

  transform: translateX(-50%) rotate(-200deg);

}

li:nth-child(9){

  transform: translateX(-50%) rotate(-280deg);

}

span{
 transform: rotate(90deg);
  display: block;
  font-family: 'Technor-Bold';
  font-size: 25px;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  color: beige;
  display: flex;
  align-items: center;
  margin-top: -11%;
}

.menu__svg{

  width: 20%;
  // margin-top: 5%;
  margin-right: 15%;
  // display: none;
}

.mot{

  // margin-top: -55%;
}

.mot .menu__svg{

  // width: 20%;
  // // margin-top: 5%;
  // margin-right: 10%;
  // display: block;
}

// .mot span {

//   font-size: 40px;
// }

// .haut path{

//   width: 562%;
// }
.icon_block{

  display: none;
}
.icon_group{

  width: 20%;
  // position: relative;
  // left: 40%;
  // position: fixed;
  position: absolute;
  top: 47%;
  left:0%;
}
.icon_group *{
  position: absolute;
}
.icon_mot{

  position: fixed;
  left: 35%;
}

.icon_group img{

  width: 50%;
  // position: absolute;
}