@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';
@font-face {
  font-family: 'Technor-Bold';
  src: url('../assets/Technor_Complete/Fonts/WEB/fonts/Technor-Bold.woff2') format('woff'),
       url('../assets/Technor_Complete/Fonts/WEB/fonts/Technor-Bold.woff') format('woff'),
       url('../assets/Technor_Complete/Fonts/WEB/fonts/Technor-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}



body {
    background-color: #101010;
    overflow-x: hidden;
    background-image: url(../assets/images/imageback.png);
    background-size: contain;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    color: white;

    h2 {
        font-weight: bold;
        font-size: 64px;
        font-style: 'Lexend';
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 50px;
    }



    a {
        color: white;
        text-decoration: none;

        &:visited {
            color: white;
        }
    }
}

.page_Accueil{

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
  
  
  }

.logo {
    position: fixed;
    z-index: 100;
    top: 4.5%;
    left: 2.5%;
    height: 10%;
    width: auto;
    // width: 30%;
}

.blur {
    position: absolute;
    left: 0%;
    top: 0%;
}

.buttonback {
    position: absolute;
    top: 6%;
    right: 3%;
}


.gridcontainer {
    margin-top: 190px;
    // display: grid;
    grid-template-columns: 94px repeat(3, 1fr) 94px;
    column-gap: 86px;
    row-gap: 86px;

    p {
        text-align: center;
    }


}

.button--close ,.button--back{
  position: fixed;
  top: 30px;
  right: 30px; /* Positionnez la croix à droite */
  width: 30px; /* Ajustez la taille de la croix selon vos besoins */
  cursor: pointer;
  z-index: 1000; /* Assurez-vous qu'elle est bien au-dessus de tout le reste */
}

.grid {
  display: grid; /* Configuration initiale de la grille */
}

.grid.inactive {
  display: flex; /* Masque la grille lorsqu'elle est inactive */
}

.message__text {
  font-size: 1.2em;
  color: #333;
  // text-align: center;
  margin: 0 auto;
  // margin-bottom: 20px;
  
}

/* Styles pour la nouvelle DA */
.da-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  // background-color: #f0f0f0;
  border-radius: 10px;
}

.da-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.da-text-container {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden; /* Assure que le flou ne dépasse pas le conteneur */
}


.da-text {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
  // text-shadow: 1px 1px 2px rgba(78, 116, 185, 1); /* Ombre légère */
}

.da-site-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.da-site-button:hover {
  background-color: #555;
}


img {
    width: 100%;

}

$columns: 3; // Nombre de colonnes
$rows: 7; // Nombre de lignes

@for $i from 0 through ($columns * $rows - 1) {
  .grid__el#{$i} {
    grid-column: (($i % $columns) + 2);
    grid-row: (floor($i / $columns) + 1);
    
    // @if $i == 0 {
    //   z-index: 100;
    // }
  }
}


.long {
  height: 65vh;
  position: fixed;
  // top: 17.5%;
  // right: 1%;
  z-index: 0;
}

.menu{
  height: 100vh;
  position: fixed;
  // right: 6%;

  
}



#clicker {
  position: absolute;
  top: 47%;
  right: 60%;
  width: 15%;
  height: 50%;
  z-index: 5;
  transform-origin: 50% 20px;
  transform: rotate(-90deg);
  pointer-events: none;
}

#dial {
  touch-action: pan-left;
}


.contenu{

  display:none;
}


ul{
  padding: 0;
  top: 0;
  left: 42%;
  margin: 100px;
  list-style: none;
  width: 500px;
  height: 500px;
  border: 2px solid transparent;
  position: relative;
  border-radius: 50%;

}
.taille{
  width:50%;
}

li{

  position: absolute;
  top: -10px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  transform-origin: center 270px;
}

@for $i from 1 through 9 {
  li:nth-child(#{$i}) {
    transform: translateX(-50%) rotate(calc(-30deg + (-60deg * ($i - 1))));
  }

}

// li:nth-child(1){
  
//   transform: translateX(-50%) rotate(-30deg);

// }

// li:nth-child(2){
  
//   transform: translateX(-50%) rotate(-90deg);

// }

// li:nth-child(3){

//   transform: translateX(-50%) rotate(-150deg);

// }

// li:nth-child(4){

//   transform: translateX(-50%) rotate(-210deg);
  

// }

// li:nth-child(5){

//   transform: translateX(-50%) rotate(-270deg);

// }

// li:nth-child(6){

//   transform: translateX(-50%) rotate(-330deg);

// }

// li:nth-child(7){

//   transform: translateX(-50%) rotate(-170deg);

// }

// li:nth-child(8){

//   transform: translateX(-50%) rotate(-200deg);

// }

// li:nth-child(9){

//   transform: translateX(-50%) rotate(-280deg);

// }

span{
 transform: rotate(90deg);
  display: block;
  font-family: 'Technor-Bold';
  font-size: 25px;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  color: beige;
  display: flex;
  align-items: center;
  margin-top: -11%;
}

.menu__svg{

  width: 20%;
  // margin-top: 5%;
  margin-right: 15%;
  // display: none;
}


.icon-group__block{

  display: none;
}
.icon-group{

  width: 20%;
  // position: relative;
  // left: 40%;
  // position: fixed;
  position: absolute;
  top: 47%;
  left:0%;
}
.icon-group *{
  position: absolute;
}
.icon-group__mot{

  position: fixed;
  left: 35%;
}

.icon-group img{

  width: 50%;
  // position: absolute;
}